body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

p.error-message {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}


#register-form {
  max-width: 600px;
  margin-top: 50px;
}

#register-form h2 {
  text-align: center;
  margin-bottom: 30px;
}

#register-form label[for="confirm-password"],
#register-form input[name="confirm-password"] {
  display: none;
}


#login-form {
  max-width: 400px;
  margin-top: 50px;
}

#login-form h2 {
  text-align: center;
  margin-bottom: 30px;
}
